*{
  font-family: 'Dancing Script', cursive;
  font-family: 'Indie Flower', cursive;
}

body{
  background: url(./raw_images/bg.jpg);
  background-position: center;
  background-size: cover;

}
#gallery{
  background: url(./raw_images/lp.jpg);
}

#aboutMe{
  background-color: whitesmoke;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.3); 
}

#button{
  color: white;
  /*font-weight - declares the thickness of the text*/
  font-weight: bold;
  background-color: hotpink;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 25px;
  filter: drop-shadow(5px 5px 5px #666666);
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}



#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: hotpink;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px black;
}

#myBtn:hover {
  background-color: #555;
}

#gallery img {
       width: 250px;
       -webkit-filter: drop-shadow(5px 5px 5px #666666);
       filter: drop-shadow(5px 5px 5px #666666);
     }


     .header {
       text-align: center;
       padding: 32px;
     }

     .row {
       display: -ms-flexbox; /* IE10 */
       display: flex;
       -ms-flex-wrap: wrap; /* IE10 */
       flex-wrap: wrap;
       padding: 0 4px;
     }

     /* Create four equal columns that sits next to each other */
     .column {
       -ms-flex: 25%; /* IE10 */
       flex: 25%;
       max-width: 25%;
       padding: 0 4px;
     }

     .column img {
       margin-top: 8px;
       vertical-align: middle;
       width: 100%;
     }

     /* Responsive layout - makes a two column-layout instead of four columns */
     @media screen and (max-width: 800px) {
       .column {
         -ms-flex: 50%;
         flex: 50%;
         max-width: 50%;
       }
     }

     /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
     @media screen and (max-width: 600px) {
       .column {
         -ms-flex: 100%;
         flex: 100%;
         max-width: 100%;
       }
     }


